<% provide(:title, "About") %>
<div class="center jumbotron" style="background-color: rgba(255,255,255,0.8); border: 4px solid #000; box-shadow: 15px 15px 18px #C0C0C0;">
  <h1 class="home_title">About C3lt1c Viking</h1>

  <h2 class="about_description">
    Possessing a PhD in Computer Science, and actively continuing their education on Ethical Hacking and Secured Programming Practices, C3lt1c Viking
    pursues their dream of establishing a well respected and reputable organization. C3lt1c has dedicated over 7 years of learning, practicing, and
    developing websites, hacking techniques, and server administration abilities for various organizations all over the United States. <br/>
    <br/>
    Working with all types of organizations including;<br/>
    * Government Projects<br/>
    * Fortune 500 Corporations<br/>
    * Small Start Up Companies<br/>
    * Non-For-Profit Groups<br/>
    C3lt1c Viking has performed services and assisted in defense against black hat hackers for various platforms, servers, and code. <br/>
    C3lt1c Viking prides themselves upon privacy and anonymity. By utilizing VPN connections, Secured Email Clients, and Dedicated Protocols,
    C3lt1c aims to provide a safe haven for your website needs &amp; desires. <br/>
    <br/>
    Born on Planet Earth, their first words where;<br/>
    "Hello World"<br/>
    Small code humor there, this individual seeks to provide quality services for all types of organizaations, while keeping inside of each
    clients budget. One of the best things about C3lt1c Viking Operations is they strive to stay inside of virtually any budget within reason. <br/>
    <br/>
    <%= link_to "Contact C3lt1c Viking", contact_path %> and see how they can help your business today!
  </h2>
</div>
