<div class="center jumbotron" style="background-color: rgba(0,0,0,0.8); border: 4px solid #0F0; box-shadow: 15px 15px 18px #C0C0C0;">
  <h1 class="home_title">Welcome to C3lt1c Viking</h1>

  <h2 class="home_description">
    Ethical Hacker, Advanced web  programmer, and Linux Server Admin. C3lt1c Viking provides services to not only
    bring your company online, but keep it online 99.99% of the time and keep those pesky hackers away!<br/>
    <br/>
    Bug Bounty Hunter on platforms such as HackerOne &amp; BugCrowd, C3lt1c keeps their hacking game up and participates
    to help keep the online activities safe and secure from Black Hat Hackers.<br/>
    <br/>
    Website Development services includes programming in Ruby on Rails, PHP, HTML5/CSS3/JS, Bootstrap, and a variety
    of others. Regardless if you need something built like an in-house web application, or looking for an E-Commerce site,
    C3lt1c Viking has you covered!<br/>
    <br/>
    Server Hosting Solutions using Linux Ubuntu and either NGINX or Apache2 for the web server application. Securing the server
    with a variety of tools, scripts, and services, C3lt1c is fully capable to ensure that your website &amp; server are secured
    from illegal hackers.<br/>
    <br/>
    <%= link_to "Contact C3lt1c Viking", contact_path %> and see how they can help your business today!
  </h2>
</div>

<script>
  .home_title
  {
    font-family: 'Righteous', cursive;
    color: #00FF00;
    text-shadow: 6px 6px 8px #0F0;
  }
  .home_description
  {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    text-align: center;
    color: #FFF;
  }
  </script>
