<% provide(:title, "Services") %>
<div class="center jumbotron" style="background-color: rgba(255,255,255,0.8); border: 4px solid #000; box-shadow: 15px 15px 18px #C0C0C0;">
  <h1 class="home_title">C3lt1c Viking's Services</h1>

  <h2 class="about_description">
    C3lt1c Viking Operations provides a wide range of services to fully cater all types of digital &amp; I.T. services
    to virtually any organization, no matter their size! Let us take a look at some of these services;<br/>
    <br/>
    <strong>Development Services:</strong><br/>
    * <i><u>WordPress</u></i><br/>
    * <i><u>E-Commerce</u></i><br/>
    * <i><u>Informational Websites</u></i><br/>
    * <i><u>PhP Websites/Applications</u></i><br/>
    * <i><u>Ruby on Rails Applications</u></i><br/>
    * <i><u>Android Applications</u></i><br/>
    * <i><u>iOS Applications</u></i><br/>
    * <i><u>Blockchain Development</u></i><br/>
    <br/>
    <strong>Hacking Services:</strong><br/>
    * <i><u>Domain Name Auditing</u></i><br/>
    * <i><u>Code Auditing</u></i><br/>
    * <i><u>Server Penetration Testing</u></i><br/>
    * <i><u>Website Code Injection Testing</u></i><br/>
    <%= link_to "Contact C3lt1c Viking", contact_path %> and see how they can help your business today!
  </h2>
</div>
